/* Animations for Scene 03-three */

#number-three {
  -skrollr-animation-name: number-three;
}

@-skrollr-keyframes number-three {
  #{$scene_03_begin} {
    transform: rotate(0deg);
  }
  #{$scene_03_end} {
    transform: rotate(360deg);
  }
}
