/* Animations for Scene 02-two */

#number-two {
  -skrollr-animation-name: number-two;
}

@-skrollr-keyframes number-two {
  #{$scene_02_begin} {
    transform: rotate(0deg);
  }
  #{$scene_02_end} {
    transform: rotate(360deg);
  }
}
